<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>地点</title>
    <!-- 设置容器的样式-->
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%
        }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--微信的js-sdk-->
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"/>
    <!--js-sdk的权限验证-->
    <script type="text/javascript">
        var map;
        $(function () {
            $.ajax({
                url:"/wechart/jssdk",
                data:{url:location.href.split('#')[0]},
                success: function (data) {
                    wx.config({
                        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: 'wx35e4ddc15fc64c19', // 必填，公众号的唯一标识
                        timestamp:data.timestamp, // 必填，生成签名的时间戳
                        nonceStr: data.noncestr, // 必填，生成签名的随机串
                        signature: data.signature,// 必填，签名
                        jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表
                    });
                },
                dataType:"json"
            });
        });
        //如果jssdk认证成功调用这个方法
        wx.ready(function(){
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度
                    //坐标转换一下 gps到百度
                    var point = new BMap.Point(longitude, latitude);
                    var convertor = new BMap.Convertor();
                    var pointArr = [];
                    pointArr.push(point);
                    convertor.translate(pointArr, 1, 5, translateCallback);//坐标转换


                }
            });
        });
        function translateCallback(data){
            if(data.status === 0) {
                var baiduPoint=data.point[0];
                map.centerAndZoom(baiduPoint,15);//15是缩放级别
                var marker = new BMap.Marker(baiduPoint);  // 创建标注
                map.addOverlay(marker);               // 将标注添加到地图中
                marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
            }
        }
        //认证失败
        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            alert("认证失败"+res);
        });
    </script>
    <!-- 百度地图的script-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=3.0&ak=D5Y04QRhULewU2PsQG0ojc36hNMVwIa4"></script>
</head>
<body>
<!-- 放地图的div-->
<div id="container"></div>
<script>
    //初始化百度地图
    map = new BMap.Map("container");
    //创建一个坐标点对象
    var point = new BMap.Point(116.404, 39.915);//天安门
    map.centerAndZoom(point, 15);//中心点和缩放级别
</script>
</body>
</html>